p{
    font-family: "Arbutus";font-size: 22px;
}
.parent {
    min-height: 200px;
    padding:3px;
    display:flex;
}
.Index {
    min-height: 200px;
    padding:2px;
    display: flex;
    align-content: space-evenly;
    justify-items: stretch;
}
.textbox {
    background-color: rgba(29, 42, 68, 0.93);
    min-height: 200px;
    padding:3px;
    border: 6px solid rgba(24, 28, 33, 0.66);
    order:2;
}
.leftI{
    background-color: rgba(29, 42, 68, 0.93);
    align-content: space-evenly;
    padding: 3px;
    border: 6px solid rgba(18, 27, 42, 0.93);
    justify-items: center;
    order:1;
}
.rightI{
    background-color: rgba(29, 42, 68, 0.93);
    padding: 3px;
    border: 6px solid rgba(18, 27, 42, 0.93);
    justify-items: self-start;
    order:3;
}

nav ul {
    display: flex;
    margin:0;
    padding:0;
    width: 100%;

}
nav li {
    list-style: none;
    background-color: rgba(46, 68, 112, 0.2);
    color: #ffffff;
    margin: 0;
    flex: 1;
    justify-content: center;
    text-align: center;
    display:flex;
    width: 10%;
}
nav a, nav a:visited{
    text-decoration: none;
    width: 20%;
    padding: 8px 0px;
    color: #ffffff;
}

.parent1 {
    background-color: rgba(0, 128, 0, 0.68);
    min-height:100px;
    padding:4px;
    display:flex;
    justify-content:space-between;
    align-items: stretch;
}
.size {
    background-color: rgba(81, 136, 136, 0.63);
    order:2;
    flex:2;
}
.material {
    background-color: rgba(72, 105, 169, 0.63);
    order:1;
    flex:1;
}
a, a:visited{
    text-decoration: none;
    width: 20%;
    padding: 8px 0px;
    color: #9d9d9d;
}
.darkanimal {
    background-color: rgba(81, 136, 136, 0.63);
    order:3;
    flex:2;
    padding:6px;
}
.animal {
    background-color: rgba(72, 105, 169, 0.63);
    order:2;
    flex:1;
    padding:6px;
}
.introa {
    background-color: rgba(78, 72, 169, 0.63);
    order:1;
    flex:1;
    width: 20%;
    padding: 6px;
}
.infobox {
    border: 7px solid rgba(18, 27, 42, 0.89);
    padding: 4px;
}